.flightEditor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.flightEditor table {
    width: 80%;
    border-collapse: collapse;
}
.flightEditor th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.flightEditor button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.flightEditor img {
    height: 40px;
}